.outer-main-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background:#1995AD;
}
.main-container{
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 135px);
  display: flex;
  flex-direction: row;
  align-items: self-start;
}
.side-nav{
  max-width: 300px;
  width: 100%;
  padding: 10px;
  /* background: #1995AD; */
  height: 100%;
  overflow: auto;
}
.task-content{
  width: 100%;
  color: white;
}